main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.imagem-legenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */
    gap: 10px;
}

.imagem-legenda img {
    border-radius: 50%;
    background-position: cover;
}

.imagem-legenda p {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    border: solid 1px #000000;
    width: 95vw;
}

main .contato {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.contato h2 {
    width: 100%;
}
.contato form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
main .eventos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.eventos h2 {
    width: 100%;
}
.eventos form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #007f00;
    color: white;
    border: none;
    cursor: pointer;
}